.background {
  background: linear-gradient(0.35turn, #e4fff9, #f3dff0, #fffffe);
  min-height: 100vh;
}

.price {
  background: linear-gradient(to right, #19a, #dff, #19a);
}

.amount-border {
  border-top-left-radius: 10px;
}

.image {
  transition: transform 0.5s ease;
}

.image-box {
  width: 100%;
  height: 300px;
}

.image:hover {
  transform: scale(1.2);
}

.product-list {
  img {
    width: 70%;
    height: 70%;
    display: block;
    object-fit: cover;
  }
  .product {
    width: 400px;
  }
}
